.main-app {
  display: flex;
  justify-content: center;
  height: 100vh;
  background-color: #ece9e5;
}

.app-container {
  width: 380px;
  height: 600px;
  margin-top: 5rem;
  padding: 60px 40px;
  padding-bottom: 80px;
  box-shadow: #c9c9c9 0px 4px 13px 2px;
  background-color: #ffffff;
}

.app-header {
  margin-bottom: 30px;
}