.main-app {
  display: flex;
  justify-content: center;
  height: 100vh;
  background-color: #ece9e5;
}

.app-container {
  width: 380px;
  height: 600px;
  margin-top: 5rem;
  padding: 60px 40px;
  padding-bottom: 80px;
  box-shadow: #c9c9c9 0px 4px 13px 2px;
  background-color: #ffffff;
}

.app-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.app-date {
  display: flex;
  align-items: center;
}

.app-date > div:first-of-type {
  font-size: 2.1rem;
}

.app-date > div:last-of-type {
  display: flex;
  flex-direction: column;
}